*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Roboto;
}
body{
    background-color: #f0efef;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container-flex{
   /* background-color: red;*/
    width: 1000px;
    height: 600px;
    display: flex;

}
.content{
    background-color: black;
    width: 30%;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
    padding: 50px;
}
.form{
    background-color: #fff;
    width: 70%;
    height: 100%;
}
.content h1{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}
.content #p{
    color: #fff;
    margin-bottom: 70px;
    text-align: center;
}
.content h2{
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}
.content p{
    color: #fff;
    text-align: center;
    margin-bottom: 30px;

}
.content a{
    color: #fff;
    text-align: center;
}
.btn{
    display: flex;
    flex-direction: column;
}
.btn a{
    text-decoration: none;
    text-align: center;

}
.btn #inter{
    border: 2px solid #fff;
    border-radius: 60px;
    padding:20px 10px;
    text-align: center;
    margin-bottom: 35px;
    
}
.btn #inter:hover{
    color:#000;
    background-color: #fff;
    opacity: 0.6;
    font-weight: 700;
}

.form{
    padding: 90px;
}
.form>h1,p{
    text-align: center;
}
.form>p{
    margin-bottom: 70px;
}
.input-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
.form .input-box input{
    height: 60px;
    border: none;
    background-color: #f0efef;
    padding-left: 80px;
    font-size: 18px;
    
}
input[type="text"]{
    background-image: url("assects/person_edit_FILL0_wght400_GRAD0_opsz24.png");
    background-repeat: no-repeat;
    padding-left: 20px;



}
input[type="email"]{
    background-image: url("assects/mail_FILL0_wght400_GRAD0_opsz24.png");
    background-repeat: no-repeat;
}
input[type="password"]{
    background-image: url("assects/lock_FILL0_wght400_GRAD0_opsz24.png");
    background-repeat: no-repeat;

}
.input-box button{
    padding: 15px 40px;
    width: 30%;
    margin-left: 35%;
    margin-top: 30px;
    border-radius: 40px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 17px;
}
.input-box button:hover{
    color:#fff;
    background-color:#000;
    opacity: 0.6;
    font-weight: 700;
}